@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.gradient-text {
  @apply bg-gradient-to-r from-[#ff4800] to-[#ff8400] bg-clip-text text-transparent;
}
